DPMC_API_URL="http://localhost:3000/api"
DPMC_WORKER_TOKEN="dev-worker-registration-token-min20chars"
DPMC_DATA_CENTER_CODE="ACR"
DPMC_PROCESSING_DIR="/var/lib/dpmc/processing"
DPMC_CACHE_DIR="/var/cache/dpmc"
DPMC_HEARTBEAT_INTERVAL_S="30"
DPMC_LOG_LEVEL="INFO"
DPMC_LOG_SHIPPING_ENABLED="true"
DPMC_LOG_FLUSH_INTERVAL_S="2"
DPMC_LOG_BATCH_SIZE="50"
DPMC_LOG_BUFFER_MAX="5000"
