DPMC_DISPATCHER_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DPMC_DISPATCHER_API_URL="http://localhost:3000/api"
DPMC_DISPATCHER_API_TOKEN="dev-worker-registration-token-min20chars"
DPMC_DISPATCHER_API_SSL_VERIFY="true"
